:root {
  --cubeSize: 500px;
  --translateZ: 250px;
}

/* body {
    overflow: hidden;
  }
   */
.main {
  z-index: 10;
  overflow: hidden;
  display: grid;
  place-content: center;
  min-width: 100svh;
  min-height: 90svh;
}

.container {
  margin-bottom: 100px;
  perspective: 1000px;
  width: var(--cubeSize);
  height: var(--cubeSize);
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
  transition: all 1.85s cubic-bezier(1, 0.75, 0.5, 1.2);
}

.face {
  position: absolute;
  border: 1px solid rgba(142, 142, 142, 0.683);
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1);
  width: var(--cubeSize);
  height: var(--cubeSize);
  line-height: var(--cubeSize);
  text-align: center;
  font-size: 1.25rem;
  background-color: #fff;
  opacity: 0.8;
}

.front {
  transform: translateZ(var(--translateZ));
}

.back {
  transform: rotateY(180deg) translateZ(var(--translateZ));
}

.top {
  transform: rotateX(90deg) translateZ(var(--translateZ));
}

.right {
  transform: rotateY(90deg) translateZ(var(--translateZ));
}

.left {
  transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--translateZ));
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
